n8n/workflows/daily-expense-reminder.json
{
  "name": "Daily Expense Reminder",
  "nodes": [
    {
      "id": "1",
      "name": "Cron 21:00",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -360,
        0
      ],
      "parameters": {
        "triggerTimes": [
          {
            "hour": 21,
            "minute": 0
          }
        ]
      }
    },
    {
      "id": "2",
      "name": "Get Today Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -80,
        0
      ],
      "parameters": {
        "authentication": "none",
        "url": "={{ $env.TODAY_COUNT_URL }}",
        "responseFormat": "json"
      }
    },
    {
      "id": "3",
      "name": "IF No Expenses",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[\"count\"] }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "5",
      "name": "Generate Reminder (OpenAI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 3,
      "position": [
        460,
        -20
      ],
      "parameters": {
        "resource": "chat",
        "operation": "chat",
        "model": "gpt-3.5-turbo",
        "temperature": 0.6,
        "messages": [
          {
            "role": "system",
            "content": "You are a concise, friendly expense-tracking assistant."
          },
          {
            "role": "user",
            "content": "Generate a short, positive reminder to log today’s expenses. Keep it under 20 words and include one relevant emoji. Mention that no expenses were logged yet."
          }
        ]
      }
    },
    {
      "id": "4",
      "name": "Send Reminder (Email)",
      "type": "n8n-nodes-base.email",
      "typeVersion": 2,
      "position": [
        740,
        -20
      ],
      "parameters": {
        "fromEmail": "={{ $env.REMINDER_FROM }}",
        "toEmail": "={{ $env.REMINDER_TO }}",
        "subject": "Don’t forget today’s expenses",
        "text": "={{ $json[\"choices\"][0][\"message\"][\"content\"] || $json[\"message\"] || $json[\"content\"] || \"📌 Don’t forget to add today’s expenses\" }}"
      }
    }
  ],
  "connections": {
    "Cron 21:00": {
      "main": [
        [
          {
            "node": "Get Today Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today Count": {
      "main": [
        [
          {
            "node": "IF No Expenses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF No Expenses": {
      "main": [
        [
          {
            "node": "Generate Reminder (OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Generate Reminder (OpenAI)": {
      "main": [
        [
          {
            "node": "Send Reminder (Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "versionId": "daily-expense-reminder-v1",
  "meta": {
    "instanceId": "money-track"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "DailyExpenseReminder"
}

